*.iml
.gradle
/local.properties
/.idea/*

.DS_Store
/build
.externalNativeBuild
.cxx
local.properties

# Includes example screenshots, example json responses
/ignore_folder

# Ignore app release keystore
keystore.properties
release-keystore.jks

# Ignore Firebase key
app/google-services.json

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
