*.iml
.cxx
.DS_Store
.externalNativeBuild
.gradle
.kotlin

build/
local.properties

.idea/*
!.idea/codeStyles/
!.idea/detekt.xml
!.idea/icon.svg

# App release keystore
keystore.properties
release-keystore.jks

# Firebase keys
**/google-services.json

# Generated credentials from google-github-actions/auth
gha-creds-*.json

# We only need this file for building locally.
# CI environments will set these using ORG_GRADLE_PROJECT_ prefix as env.
# MUSICBRAINZ_CLIENT_ID
# MUSICBRAINZ_CLIENT_SECRET
# SPOTIFY_CLIENT_ID
# SPOTIFY_CLIENT_SECRET
secrets.properties
.aider*
!.aiderignore

# DataStore preferences
*.preferences_pb

# App database
*.db

# Xcode
xcuserdata/

# Conveyor desktop distribution
output/

# For semantic-release
node_modules/
