*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/androidTestResultsUserPreferences.xml
/.idea/jarRepositories.xml
/.idea/render.experimental.xml

.DS_Store
/build
.externalNativeBuild
.cxx
local.properties

# Includes example screenshots, example json responses, and app release keystore
/ignore_folder

# Ignore app release keystore
keystore.properties
release-keystore.jks

# Ignore Firebase key
app/google-services.json

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
