{
  "branches": [
    "master",
    {"name": "beta", "prerelease": true},
  ],
  "repositoryUrl": "https://github.com/lydavid/MusicSearch",
  "debug": "false",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "semantic-release-export-data",
    [
      "@semantic-release/github",
      {
        "assets": [
            { path: "android/app/build/outputs/apk/release/*.apk", "label": "Android distribution" },
            "output/*"
        ],
        "successComment": false,
        "failTitle": false
      }
    ]
  ]
}
