{
  "branches": [
    "main"
  ],
  "repositoryUrl": "https://github.com/lydavid/MusicSearch",
  "debug": "false",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "semantic-release-export-data",
    [
      "@semantic-release/github",
      {
        "assets": [
            "android/app/build/outputs/apk/**/*.apk",
            "output/*"
        ],
        "successComment": false,
        "failTitle": false
      }
    ]
  ]
}
