name: Publish beta build

# This runs every night,
# so we can expect a new beta release in Google Play if we made any commits during the day.
# However, we may not always get a new GitHub release. That is decided by semantic release.
# eg. If only chores were committed, then there would be no new GitHub release.
# Google Play allows us to reuse versionName, so it isn't a problem for our releases to be out of sync.
on:
  schedule:
    - cron: '42 7 * * *'
  workflow_dispatch:

jobs:
  check:
    if: ${{ inputs.track }} != 'production'
    runs-on: ubuntu-22.04
    outputs:
      status: ${{ steps.early_exit.outputs.status }}
    steps:
      - name: Checkout
        uses: nschloe/action-cached-lfs-checkout@f46300cd8952454b9f0a21a3d133d4bd5684cfc2 # v1

      # Cannot early exit jobs with GHA yet
      # Workaround: https://github.com/actions/runner/issues/662#issuecomment-1372855726
      - name: Determine whether to exit early if previous commit was a version bump
        id: early_exit
        run: |
          status='skip'
          if ! (git log --oneline -n 1 | grep -c 'chore\: bump version'); then status='deploy'; fi
          echo "status=$status" >> $GITHUB_OUTPUT
        shell: bash

  publish-beta:
    if: needs.check.outputs.status == 'deploy'
    needs: check
    permissions:
      contents: write
      id-token: write
      pages: write
    uses: ./.github/workflows/publish.yml
    with:
      track: beta
    secrets: inherit
