name: record-snapshot-command

on:
  repository_dispatch:
    types: [ record-snapshot-command ]

jobs:
  record-snapshot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: nschloe/action-cached-lfs-checkout@v1
        with:
          token: ${{ secrets.PAT }}
          repository: ${{ github.event.client_payload.pull_request.head.repo.full_name }}
          ref: ${{ github.event.client_payload.pull_request.head.ref }}

      - run: sudo timedatectl set-timezone "America/Toronto"

      # Renamed and deleted test functions are not automatically removed by Paparazzi
      - name: Delete all snapshot golden
        run: find . -type f ! -path '*/build/*' -a -path '*/snapshots/images/*' | xargs -I {} rm {}

      - name: Set timezone because some tests depend on it
        run: timedatectl set-timezone "America/Toronto"

      - name: Record snapshots
        run: ./gradlew recordPaparazziDebug

      - name: Commit new snapshots
        run: |
          git add '*/snapshots/images/*'
          git -c user.name="github-actions[bot]" \
            -c user.email="41898282+github-actions[bot]@users.noreply.github.com" \
            commit -m "chore: rerecord snapshot tests"
          git push
