name: Slash Command Dispatch

on:
  issue_comment:
    types: [created]

jobs:
  slash-command-dispatch:
    if: ${{ github.event.issue.pull_request }}
    runs-on: ubuntu-22.04
    steps:
      - name: Slash Command Dispatch
        uses: peter-evans/slash-command-dispatch@9bdcd7914ec1b75590b790b844aa3b8eee7c683a # v5
        with:
          token: ${{ secrets.PAT }}
          commands: record-snapshot
