name: Slash Command Dispatch

on:
  issue_comment:
    types: [created]

jobs:
  slash-command-dispatch:
    if: ${{ github.event.issue.pull_request }}
    runs-on: ubuntu-22.04
    steps:
      - name: Slash Command Dispatch
        uses: peter-evans/slash-command-dispatch@5c11dc7efead556e3bdabf664302212f79eb26fa # v5
        with:
          token: ${{ secrets.PAT }}
          commands: record-snapshot
