name: Test Release E2E

# When making database changes, prefer to create a PR
on:
  push:
    paths:
      - "**.sqm"
  schedule:
    - cron: '42 6 * * 6'
  workflow_dispatch:

jobs:
  test-release-e2e:
    timeout-minutes: 60
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - name: Checkout main
        if: github.ref != 'refs/heads/main'
        uses: nschloe/action-cached-lfs-checkout@f46300cd8952454b9f0a21a3d133d4bd5684cfc2 # v1
        with:
          token: ${{ secrets.PAT }}
          ref: main

      - name: Checkout main
        if: github.ref == 'refs/heads/main'
        uses: nschloe/action-cached-lfs-checkout@f46300cd8952454b9f0a21a3d133d4bd5684cfc2 # v1
        with:
          token: ${{ secrets.PAT }}
          ref: ${{ github.event.before }}

      - name: Free disk space
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be
        with:
          tool-cache: false
          android: false
          dotnet: true
          haskell: true
          large-packages: false
          docker-images: false
          swap-storage: true

      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - id: setup
        uses: ./.github/actions/setup

      - name: Install Maestro
        run: curl -Ls "https://get.maestro.mobile.dev" | bash

      - name: AVD cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-31-x86_64

      - name: create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@b530d96654c385303d652368551fb075bc2f0b6b # v2.35.0
        with:
          api-level: 34
          arch: x86_64
          profile: pixel_3a
          force-avd-creation: false
          emulator-options: -memory 4096 -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          sdcard-path-or-size: 100M
          script: echo "Generated AVD snapshot for caching."

      # We exclude -no-snapshot-save so that in the next emulator step, we install on top of this
      - name: Install app before changes on emulator, run Maestro tests
        uses: reactivecircus/android-emulator-runner@b530d96654c385303d652368551fb075bc2f0b6b # v2.35.0
        with:
          api-level: 34
          arch: x86_64
          profile: pixel_3a
          force-avd-creation: false
          emulator-options: -memory 4096 -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          sdcard-path-or-size: 100M
          script: |
            adb uninstall io.github.lydavid.musicsearch.debug || true
            ./gradlew assembleFDroidDebug installFDroidDebug
            adb shell settings put system show_touches 1
            adb shell cmd overlay enable com.android.internal.systemui.navbar.gestural
            adb shell cmd overlay disable com.android.internal.systemui.navbar.threebutton
            $HOME/.maestro/bin/maestro test .maestro/pr
            $HOME/.maestro/bin/maestro test .maestro/full
            adb shell cmd overlay enable com.android.internal.systemui.navbar.threebutton
            adb shell cmd overlay disable com.android.internal.systemui.navbar.gestural
            $HOME/.maestro/bin/maestro test .maestro/threebutton
            adb logcat -d --pid=$(adb shell pidof -s io.github.lydavid.musicsearch.debug) "*:E" > logcat

      - name: Move all before artifacts to one place
        if: always()
        run: |
          mkdir -p before_artifacts
          mv /home/runner/.maestro/tests/ before_artifacts
          mv *.mp4 before_artifacts
          [ -f logcat ] && mv logcat before_artifacts
          mv android/app/build/outputs/apk/fDroid/debug/*.apk before_artifacts

      - name: Save before recordings
        if: always()
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7
        with:
          name: musicsearch_test_release_e2e_before_outputs
          path: before_artifacts

      - name: Checkout PR
        uses: nschloe/action-cached-lfs-checkout@f46300cd8952454b9f0a21a3d133d4bd5684cfc2 # v1
        with:
          token: ${{ secrets.PAT }}

      - uses: ./.github/actions/setup

      # After this installation, we want to cache the AVD for future runs, so we need to uninstall
      # so that we don't run into INSTALL_FAILED_VERSION_DOWNGRADE in the next main installation.
      - name: Install app after changes on emulator, run Maestro tests
        uses: reactivecircus/android-emulator-runner@b530d96654c385303d652368551fb075bc2f0b6b # v2.35.0
        with:
          api-level: 34
          arch: x86_64
          profile: pixel_3a
          force-avd-creation: false
          emulator-options: -memory 4096 -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none -no-snapshot-save
          disable-animations: true
          sdcard-path-or-size: 100M
          script: |
            ./gradlew assembleFDroidDebug installFDroidDebug
            adb shell settings put system show_touches 1
            adb shell cmd overlay enable com.android.internal.systemui.navbar.gestural
            adb shell cmd overlay disable com.android.internal.systemui.navbar.threebutton
            $HOME/.maestro/bin/maestro test .maestro/pr
            $HOME/.maestro/bin/maestro test .maestro/full
            adb shell cmd overlay enable com.android.internal.systemui.navbar.threebutton
            adb shell cmd overlay disable com.android.internal.systemui.navbar.gestural
            $HOME/.maestro/bin/maestro test .maestro/threebutton
            adb logcat -d --pid=$(adb shell pidof -s io.github.lydavid.musicsearch.debug) "*:E" > logcat
            adb uninstall io.github.lydavid.musicsearch.debug

      - name: Move all after artifacts to one place
        if: always()
        run: |
          mkdir -p after_artifacts
          mv /home/runner/.maestro/tests/ after_artifacts
          mv *.mp4 after_artifacts
          [ -f logcat ] && mv logcat after_artifacts
          mv android/app/build/outputs/apk/fDroid/debug/*.apk after_artifacts

      - name: Save after recordings
        if: always()
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7
        with:
          name: musicsearch_test_release_e2e_after_outputs
          path: after_artifacts
